*, :after, :before {
    box-sizing: border-box;
}
.xixi-row {
	position: relative;
	height: auto;
	zoom: 1;
	display: block;
}
.xixi-row::before, .xixi-row::after{
	content: "";
	display: table;
	clear: both;
}

.xixi-row-flex{
	display: flex;
    flex-direction: row;
}

.xixi-col {
	position: relative;
}

.xixi-col-span-1,
.xixi-col-span-2,
.xixi-col-span-3,
.xixi-col-span-4,
.xixi-col-span-5,
.xixi-col-span-6,
.xixi-col-span-7,
.xixi-col-span-8,
.xixi-col-span-9,
.xixi-col-span-10,
.xixi-col-span-11,
.xixi-col-span-12{
	float: left;
	flex: 0 0 auto;
}
.xixi-col-span-1{ width: 8.33% }
.xixi-col-span-2{ width: 16.66% }
.xixi-col-span-3{ width: 25% }
.xixi-col-span-4{ width: 33.33% }
.xixi-col-span-5{ width: 41.66% }
.xixi-col-span-6{ width: 50% }
.xixi-col-span-7{ width: 58.33% }
.xixi-col-span-8{ width: 66.66% }
.xixi-col-span-9{ width: 75% }
.xixi-col-span-10{ width: 83.33% }
.xixi-col-span-11{ width: 91.66% }
.xixi-col-span-12{ width: 100% }